api = 2
core = 7.x

libraries[emmet][download][type] = "file"
libraries[emmet][download][url] = https://github.com/emmetio/textarea/archive/master.zip
libraries[emmet][directory_name] = emmet
libraries[emmet][destination] = "libraries"